.btn {
  color: #ffffff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #e53371;
  min-width: 10rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn:active {
  opacity: 0.8;
}

.large {
  font-size: 1.4rem;
}

.small {
  font-size: 1.4rem;
}

/* .rose {
  background-color: #e53371;
}

.rose:hover {
  background-color: #dd2466;
}

.rose:active {
  background-color: #e63673;
}

.outline {
  background-color: transparent;
  border: 1px solid #e53371;
  color: #e53371;
}

.outline:hover {
  background-color: #fce4e8;
}

.outline:active {
  background-color: #f8cdd2;
} */

/* Select Button */
.dropdownContainer {
  position: relative;
  display: inline-block;
}

.sortButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sortButton:hover {
  background-color: #f2f2f2;
}

.dropdown {
  position: absolute;
  top: calc(100% + 1px);
  left: 0;
  z-index: 10;
  min-width: 160px;
  background-color: #fff;
  border-radius: 8px;
  padding: 8px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdownItem {
  padding: 10px 16px;
  cursor: pointer;
  color: #333;
}

.dropdownItem:hover {
  background-color: #dbdbdb;
}

.arrowDown {
  width: 1.6rem;
  height: 1.3rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
