/* Form.module.css */
.form {
  width: 100%;
}

.formRow {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.formItem {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}

.formLabel {
  text-align: left;
  color: #a9aec5;
  font-weight: 500;
}

.formInput,
.formText {
  padding: 0.5rem;
  border-radius: 0.4rem;
  height: 3.5rem;
  box-sizing: border-box;
}

.formText {
  padding: 0.5rem 0;
}
.formInput {
  border: 0.1rem rgb(224, 224, 224) solid;
  /* background-color: #f3f3f3; */
}

.formText {
  border: 0rem transparent solid;
  background-color: transparent;
}

.formInput:focus {
  border-color: #e91f63;
  /* outline: none; */
}

.formSelect {
  border: 0.1rem solid #ccc;
  /* width: 30%; */
  background-color: #fff;
  cursor: pointer;
}

.formActions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
