.header {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.searchSection {
  display: flex;
  margin: 2rem 4rem;
  gap: 2rem;
  justify-content: space-between;
}

.course-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8rem;
  margin: 6rem 4rem;
}

@media (max-width: 960px) {
  .course-grid {
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}
