.statcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

.largeIcon {
  width: 7rem;
  height: 7rem;
  fill: #ffffff83;
}

h1 {
  margin-bottom: 1.2rem;
}

h2 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}
.navigationLinks {
  margin-top: 2rem;
}

.navigationLinks ul {
  list-style: none;
  padding: 0;
}

.navigationLinks li {
  margin-bottom: 1rem;
}

.quickLink {
  color: #7b809a;
}
.announcements,
.userInfo {
  margin-top: 3rem;
}
