.layout {
  display: flex;
  width: 100vw;
  padding: 2rem 4rem 2rem 3rem;
}

section {
  /* overflow-x: hidden; */
  flex: 1;
}

.header {
  display: flex;
  position: relative;
  height: 6rem;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 0.2rem 2rem;
  border-radius: 3rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.user-section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.announcement {
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
}

.announcement-icon {
}

.announcement-count {
  position: absolute;
  top: -1rem;
  right: -1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1rem;
  background-color: #e91f63;
  border-radius: 9999px;
  width: 1.8rem;
  height: 1.8rem;
}

.nameRole {
  display: flex;
  flex-direction: column;
}

.name {
  margin-top: 0.3rem;
  margin-bottom: -0.4rem;
  text-align: right;
  font-weight: 500;
}

.role {
  margin-top: -0.2rem;
  text-align: right;
  font-size: 1.2rem;
  color: #9ca3af;
}

.user-avatar-container {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

.user-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
}

.user-avatar img {
  border-radius: 9999px;
  width: 100%;
  height: 100%;
  margin: 0;
  transition: box-shadow 0.3s ease;
  border: 0.4rem solid #e91f63;
}

.user-avatar img:hover {
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 150px;
  border-radius: 5px;
  z-index: 1;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown-menu p {
  color: #333;
  font-weight: bold;
  padding: 12px 10px;
  border-bottom: 1px solid #ddd;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  cursor: pointer;
  /* transition: font-weight 0.3s ease; */
}

.dropdown-menu ul li:hover {
  background-color: #e91f63;
  font-size: 1.1em;
  color: #f2f2f2;
}

a li {
  color: #333;
  text-decoration: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainContent {
  flex: 1;
}
