.table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}

.checkbox {
  vertical-align: middle;
}

.table th {
  font-weight: 600;
  background-color: #7b809a;
  color: #fff;
  text-align: left;
  padding: 1.2rem;
  /* vertical-align: middle; */
}

tr th:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

tr th:last-child {
  border-radius: 0rem 0.5rem 0.5rem 0;
}

.table td {
  text-align: left;
  padding: 1.4rem;
  border-bottom: 0.1rem solid rgb(214, 214, 214);
}

.table tbody tr:hover {
  background-color: #f0f0f0;
}

.table input[type="checkbox"] {
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
}

.role {
  text-align: center;
  border-radius: 0.5rem;
  /* padding: 0.5rem; */
  font-size: 1.2rem;
}

.Admin {
  background-color: rgb(255, 159, 159);
}
.Advisor {
  background-color: rgb(212, 255, 195);
}
.Teacher {
  background-color: rgb(180, 244, 255);
}
.Student {
  background-color: rgb(255, 248, 155);
}

@media (max-width: 991px) {
  .table {
    overflow-x: auto;
  }
}
